[flake8]
ignore =
    W503
    I001
    I004
    I005
exclude =
    venv/,
    env/,
    .venv/,
    .env/,
    */migrations/,
    __pycache__/,
    *.egg-info/,
    .git/,
    .github/,
    media/,
    db.sqlite3,
    */management/
per-file-ignores =
    */settings.py:E501
max-line-length = 79 